# Basic .gitattributes for a R repo.

# html files used for display
*.html linguist-detectable=false
build/*.html linguist-detectable=false

# Source files
# ============
*.Rdata binary
*.RData binary
*.rda   binary
*.rdb   binary
*.rds   binary
*.Rd    text
*.Rdx   binary
*.Rmd	  text
*.R  	  text
*.Rproj text
